.primary{
    text-align: center;
    color: aqua;
}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    background-image: url('../imgs/contact.jpg') ;
    
}
.contact-box form{
    width: 50%;
}
.contact-box label{
    font-size: 17px;
    text-align: center;
}
.contact-box input,
.contact-box textarea{
    width: 100%;
    padding: 0.2rem;
}
